@font-face {
    font-family: 'Open Sans';
    src: url('open-sans/OpenSans-Regular.ttf')  format('truetype'); /* Safari, Android, iOS */
    /*src: url('webfont.eot');  IE9 Compat Modes 
       src: url('webfont.eot?#iefix') format('embedded-opentype'),  IE6-IE8
       url('webfont.woff') format('woff'),  Modern Browsers
       url('webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}


body {
    background: grey;
    color: #333;
    text-align: left;
    font-family: 'Open Sans';
}

h1 {
    color: #333;
    text-align: center;
}

a {
    color: #7d74e3;
}

p {
    word-break: break-all;
    display: inline-block;
    word-break: break-word;
    font-size: 15px;
    text-align: justify;
}

ul.navbar {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #cdc9f4;  
}


ul.navbar li a {
    display: block;
    padding: 8px;
    background-color: #cdc9f4;
    color: black;
}
ul.navbar li a:hover {
    color: #6a5fdf;
}   

@media screen and (min-width:700px) {
ul.navbar {
display: flex;
}
}
.contact {
    display: table;
}

ul.contact {
  list-style-type: none;
  margin: auto;
  padding: 5px;
}

ul.contact li {
    vertical-align: middle;
    display: table-cell;
    padding: 10px;
}
#contact-img {
    width: 40px;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#content {
    max-width: 800px;
    margin: auto;
    font-family: 'Open Sans';
    background: whitesmoke;
    padding: 4%;
    border-radius:1em;
    overflow: hidden;
}
#content img {
  max-width: 100%;
  height: auto;
  display: block;
}

#profile-img {
    display: block;
    border-radius: 50%;
    width: 140px;
    margin: auto;
}
